.page {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .page {
    max-width: 320px;  
  }
}